.add-job {
  @apply bg-green-500 text-white text-4xl rounded-full w-12 h-12 flex items-center justify-center cursor-pointer mt-4;
}

.sort-controls{
	@apply flex justify-between
}
.sort-controls >button{
	@apply hover:text-white dark:hover:text-black
}

.line{
	@apply	mx-3 my-1 border-t-2 border-gray-800
}


.button-hover {
  @apply hover:scale-125 hover:cursor-pointer  hover:text-slate-700;
}

.job {
	@apply max-w-2xl 2xl:max-w-3xl break-words
	
}






.form-group {
  @apply mb-4;
}

label {
  @apply block text-base font-medium text-gray-700 dark:text-gray-300 mb-1;
}

input {
  @apply mt-1 block w-full px-3 py-2 border border-gray-300 dark:border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 dark:bg-gray-700 dark:text-gray-300;
}

button {
  @apply mt-4 bg-green-500 text-white py-2 px-4 rounded-md hover:bg-green-700;
}


h1{
  @apply text-3xl font-bold py-4 underline
}

.job-detail {
  @apply mb-2 text-2xl;
}

.label {
  @apply font-bold text-gray-700 dark:text-gray-300;
}

.value {
  @apply text-gray-900 dark:text-gray-100;
}

.details-header{
  @apply flex justify-center items-center gap-4
}


/* Custom Scrollbar Styling */
.box::-webkit-scrollbar {
  width: 8px;
  background-color: #f1f1f1; /* Background color of the scrollbar track */
  border-radius: 5px;

}

.box::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #6b7280, #374151); /* Gradient color for the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the scrollbar thumb */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); /* Adding shadow for a 3D effect */
  transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transition for hover effects */
}

.box::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #374151, #111827); /* Darker gradient on hover */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5); /* More pronounced shadow on hover */
}

.box::-webkit-scrollbar-track {
  background: #e5e7eb; /* Lighter background for the scrollbar track */
  border-radius: 10px; /* Matching the thumb's border radius */
} 

